<section id="service-info" class="pb-5" style="margin-top: 180px">
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-7 col-md-8 col-11 m-auto text-center" style="font-family: 'Italiana', serif;">
                <h1 class="pb-2" data-aos="fade-down" data-aos-delay="700">Our Philosophy</h1>
                <h4 style="font-size: 15px" data-aos="fade-down" data-aos-delay="800">
                    At the heart of our studio practice is a love of the shape and form of flowers, combined with a creative edge. We’re passionate about celebrating nature in our installations and working with seasonal flowers and foliage helps us to keep within nature’s own cycle. We are, and always have been, committed to finding ethical, sustainable solutions to the challenges within our industry. From using recycled packaging and wrapping, to donating waste flowers and plants to Flower Angels (a charity the promotes wellbeing through flowers), we are continually looking at ways to reduce our carbon footprint and benefit the local community.
                </h4>
            </div>
        </div>
    </div>
</section>


@*<section id="ourStore" class="pt-5 pb-5">
    <div class="row g-0">
        <div class="col-lg-6 col-md-12 col-12">
            <div class="item-image">
                <div class="line">
                </div>
                <h6 style="color: black;">FIORE FLOWERS</h6>
                <div class="item-photo text-center" style="background-color: #f1efeb!important;">
                    <img src="https://fiore.vamtam.com/wp-content/uploads/2022/02/iStock-1325007185-1.jpg" class="img-fluid" style="border-top-left-radius: 0px; border-top-right-radius: 0px; width: 50%;" data-aos="fade-left" data-aos-delay="400" />
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <div class="item-info item3" style="background-color: #6a6e49!important; color: white!important;">
                <div class="location">
                    <h1 class="pb-4" style="font-family: 'Italiana', serif;" data-aos="fade-right" data-aos-delay="500">Our Approach</h1>
                    <p class="pb-4" data-aos="fade-right" data-aos-delay="600">At Fiore, our passion for flowers starts early – around 5am to be exact – when we arrive at the flower market to hunt out the best stems and foliage we can find. Working with local growers has always been important to us and we’ve been sourcing our blooms from UK suppliers wherever possible for over a decade.</p>
                    <p data-aos="fade-right" data-aos-delay="700">Back at our busy studio, surrounded by hanging gardens and a bathtub full of flowers, we begin sketching designs for our installations. We create designs for venues and clients the length and breadth of London – and further afield.</p>
                </div>
            </div>
        </div>
    </div>
</section>*@


@*<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-10 col-11 m-auto text-center" style="font-family: 'Italiana', serif;">
                <h1 class="pb-2" data-aos="fade-up" data-aos-delay="400">Our Clients</h1>
                <h4 style="font-size: 15px" data-aos="fade-up" data-aos-delay="500">We’re proud to have established a reputation for our creative designs and personal approach and count among our clients Tate, the Natural History Museum, Mappin and Webb, and Linda Farrow. We’ve worked in some of the capital’s most fascinating venues, including St Paul’s Cathedral, Claridge’s, RIBA and Kew Gardens and are pleased to be recommended by The Barbican, St. Pancras Renaissance Hotel and Gordon Ramsay’s restaurants.</h4>
                <div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel" data-aos="fade-up" data-aos-delay="600">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://fiore.vamtam.com/wp-content/uploads/2022/03/pexels-maria-orlova-4947396.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://fiore.vamtam.com/wp-content/uploads/2022/03/pexels-quark-studio-3201921.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://fiore.vamtam.com/wp-content/uploads/2022/03/pexels-roman-odintsov-4551517.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://fiore.vamtam.com/wp-content/uploads/2022/03/louis-hansel-wVoP_Q2Bg_A-unsplash.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>*@

<section id="ourStore" class="pt-5 pb-5" style="margin-top: 130px">
    <div class="row g-0">
        <div class="col-lg-6 col-md-12 col-12">
            <div class="item-info item3">
                <div class="location">
                    <h1 class="pt-5 pb-1" style="font-family: 'Fasthand', cursive" data-aos="fade-right" data-aos-delay="300"><b>Fiola Johnson</b></h1>
                    <p class="pb-4" data-aos="fade-right" data-aos-delay="400">THE OWNER</p>
                    <p class="pb-2" data-aos="fade-right" data-aos-delay="500">With more than a decade’s experience at the forefront of floral design, Fiola Johnson is one of London’s most respected florists. Having trained under the iconic Jane Packer, she later worked for some of London most prestigious florists on luxury events and celebrity weddings. In 2008 she founded Fiore to reflect her own intimate and artistic approach. Born and raised in London, Marianne has always loved the city’s relentless pace and creativity, something that’s an endless source of inspiration to her. Yet she also craves the peace and natural beauty of the great outdoors. It’s this balance, between the vibrancy of the city and the beauty of the natural world that defines Fiola’s own individual style.</p>
                    <p class="pb-4" data-aos="fade-right" data-aos-delay="600">Drawing on her love of colour and texture, she combines romance and wildness in rich, generous compositions that are both thoughtful and unexpected. Her studio and shops are havens from the urban jungle; like calm oases in the midst of the metropolis. They are bursting with full blooms, hanging plants and potted trees. It’s in these green and peaceful spaces that Marianne and her team create their designs, inspired by the city just outside.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <div class="item-image">
                <div class="line">
                </div>
                <h6>FIORE FLOWERS</h6>
                <div class="item-photo text-center">
                    <img src="https://fiore.vamtam.com/wp-content/uploads/2022/02/pexels-dziana-hasanbekava-7626678.jpg" class="img-fluid" style="border-top-left-radius: 0px; border-top-right-radius: 0px; width: 80%;" data-aos="fade-left" data-aos-delay="300" />
                </div>
            </div>
        </div>
    </div>
</section>

<div class="gallery pt-5 pb-4">
    <div class="text-center pb-5">
        <h1 style="font-family: 'Italiana', serif;" data-aos="fade-up" data-aos-delay="300">Follow us</h1>
        <a href="https://www.instagram.com/" class="link sign" data-aos="fade-up" data-aos-delay="400">FIORE</a>
    </div>
    <div class="row mt-4 g-0">
        @foreach (Gallery item in Model.galleries)
        {
            <div class="gallery-item col-6 col-lg-2 col-md-6" data-aos="fade-right" data-aos-delay="400">
                <a href="~/admin/assets/img/@item.Image" class="fancybox" data-fancybox="gallery1">
                    <img src="~/admin/assets/img/@item.Image" alt="" class="gallery-width">
                </a>
            </div>
        }
        <div class="row">
            <div class="col-lg-8 col-md-10 col-8 m-auto" data-aos="fade-right" data-aos-delay="1000">
                <p class="text-center pt-5">
                    Our customers say <b>Excellent</b> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-half"></i>
                    <b>4.5</b> out of 5 based on <b>7,980 reviews</b>
                </p>
            </div>
        </div>
    </div>
</div>