@model Final.Models.Service

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Service</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Img1"></label>
                <input accept="image/*" class="form-control" asp-for="Img1">
                <span class="text-danger small" asp-validation-for="Img1"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Img2"></label>
                <input accept="image/*" class="form-control" asp-for="Img2">
                <span class="text-danger small" asp-validation-for="Img2"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Img3"></label>
                <input accept="image/*" class="form-control" asp-for="Img3">
                <span class="text-danger small" asp-validation-for="Img3"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title1" class="control-label"></label>
                <input asp-for="Title1" class="form-control" />
                <span asp-validation-for="Title1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text1" class="control-label"></label>
                <input asp-for="Text1" class="form-control" />
                <span asp-validation-for="Text1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpertTitle" class="control-label"></label>
                <input asp-for="ExpertTitle" class="form-control" />
                <span asp-validation-for="ExpertTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpertText" class="control-label"></label>
                <input asp-for="ExpertText" class="form-control" />
                <span asp-validation-for="ExpertText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title2" class="control-label"></label>
                <input asp-for="Title2" class="form-control" />
                <span asp-validation-for="Title2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text2" class="control-label"></label>
                <input asp-for="Text2" class="form-control" />
                <span asp-validation-for="Text2" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-gray-200">Back to List</a>
</div>