@model Final.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Image" />
                <label asp-for="ImageFile"></label>
                <div class="custom-file">
                    <input class="custom-file-input form-control" asp-for="ImageFile">
                    <span class="text-danger small" asp-validation-for="ImageFile"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorId" class="control-label"></label>
                <select asp-for="ColorId" class="form-control" asp-items="ViewBag.ColorId"></select>
                <span asp-validation-for="ColorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatingId" class="control-label"></label>
                <select asp-for="RatingId" class="form-control" asp-items="ViewBag.RatingId"></select>
                <span asp-validation-for="RatingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubInfoId" class="control-label"></label>
                <select asp-for="SubInfoId" class="form-control" asp-items="ViewBag.SubInfoId"></select>
                <span asp-validation-for="SubInfoId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mt-3 mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-gray-200">Back to List</a>
</div>